.alert {
    position: absolute;
    top: 10%;
    right: 37%;
    width: auto;
    height: auto;
    display: inline-block;
    white-space: nowrap;
    color: $white;
    border-radius: 5px;
    padding: 10px 100px 10px 20px;
    opacity: 0.8;
    animation: bounceInDown 0.8s;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0) scaleY(3);
    }
  
    60% {
      opacity: 0.8;
      transform: translate3d(0, 25px, 0) scaleY(0.9);
    }
  
    75% {
      transform: translate3d(0, -10px, 0) scaleY(0.95);
    }
  
    90% {
      transform: translate3d(0, 5px, 0) scaleY(0.985);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

.title {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: bold;
}

.close {
    position: absolute;
    right: 10px;
    top: 16%;
    font-weight: normal;
    font-size: 17px;
    cursor: pointer;
    &:hover {
      color: $black;
    }
    &.notshow {
      display: none;
    }
}

.text {
    font-size: 15px;
}

.success {
    background-color: $success
}
.info {
    background-color: $info
}
.warning {
    background-color: $warning;
}
.danger {
    background-color: $danger
}